<div class="col-md-8 offset-md-1">
 <div class="py-4">
  <h3>会員一覧</h3>
 </div>
  <table class="table table-hover table-inverse">
  <thead>
    <tr>
     <th>会員ID</th>
     <th>氏名</th>
     <th>メールアドレス</th>
     <th>ステータス</th>
    </tr>
  </thead>
   <tbody>
   <% @customers.each do |customer| %>
    <tr>
     <td><%= customer.id %></td>
     <td><%= link_to customer.full_name_no_blanks, admin_customer_path(customer) %></td>
     <td><%= customer.email %></td>
     <td>
      <% if customer.is_active? %>
      <strong>退会</strong>
      <% else %>
      <strong>有効</strong>
      <% end %>
     </td>
    </tr>
    <% end %>
   </tbody>
  </table>
 </div>
 </div>
</div>