<h3>会員一覧</h3>

  <p>会員ID</p>
  <p>氏名<p>
  <p>メールアドレス</p>
  <p>ステータス</p>
      

  <% @customers.each do |customer| %>
    
    <%= customer.id %>
    
    <%= link_to customer.full_name_no_blanks, admin_customer_path(customer) %>
    
    <%= customer.email %>
  
    <% if customer.is_active? %>
      <strong>退会</strong>
    <% else %>
      <strong>有効</strong>
    <% end %>
      
  <% end %>